h1 Create Word
a(href="/words/") view word
form(action="/words/create",method = "POST")
  lable Name
  input(name="name",type ="text",value="word")
  br
  lable Description
  input(name="description",type ="text",value="meaning")
  br
  lable Example
  input(name="example",type ="text",value="example")
  br
  button Create Word