extends ../layouts/common.pug
block title
  title Words
block content
    form.seach-formform-group.d-flex(action="/words/search",method = "get")
      input(name="q", type="text", placeholder="name" class='form-control')
      input(type="submit",value = "Search" class='btn btn-primary ml-3')
    
    .words
      h5 
        a(href='/words')  All words

        if words.length > 0
          ul
            -var i = 1
            each word in words
              li 
                span= i
                -i++
                span &nbsp;
                span=word.name
                span &nbsp;
                span=word.date
                span &nbsp;
                a(href='/words/'+word.id) View
                span &nbsp;
                a.text-danger(href='/words/delete/'+word.id) Delete
        else
          p No word to display
    a.h3(href='/words/create') Create word