extends ./layouts/common
block content
  div.container
    h1 Hello #{name}
    a(href="/users") Users
    br
    a(href="/words") Words
    br
    a(href="/products") Products
    //- img(src="/img/2.png" width = '100%',heigh='40%')