extends ../layouts/common
block title
  title Schedule
block cssjs
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css')

block content
  div.container
    .container
     form.mr-auto(action="/arduino/postSchedule",method = "POST",class="form-group")
        label Device
        select.custom-select(name = 'device')
          option(selected='led_1') Led 1
          option(value='led_2') Led 2
          option(value='led_3') Led 3
          option(value='led_4') Led 4
          option(value='fan_1') Fan 1
          option(value='fan_2') Door 1
        label Status
        select.custom-select(name = 'status')
          option(selected='_bat') On
          option(value='_tat') Off  
          
        label(for="") Time
        //- input#meeting-time(class="form-control",type='datetime-local' name='date' value='2020-06-12T19:30' min='2019-09-01T00:00' max='2030-09-14T00:00')
        #datetimepicker1.input-group.date
          input.form-control(type='text' name = 'date')
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
            script(type='text/javascript').
              $(function () {
              $('#datetimepicker1').datetimepicker();
              });
        label(for="") Repeat
        select.custom-select(name = 'repeat')
          option(selected='no') No
          option(value='everyday') Everyday
          option(value='weekly') Weekly
          option(value='select') ....
        button.mt-2(class='btn btn-primary p-2',type='submit') Booking
        //- bay gio xu li form de insert vao db, xu li lich