extends ../layouts/common
block title
  title History
block content
  div.container
    .container
      a.nav-link.text-danger(href='/arduino/xoalichsu') Xoa
      table.table.table-striped.table-hover
        thead.bg-secondary
          tr
            th(scope='col') DEVICE
            th(scope='col') TIME
            th(scope='col') STATUS
        tbody
          each i in arduino
            tr
              th(scope='row')=i.id
              td=new Date(i.date).getHours()+':'+new Date(i.date).getMinutes()+' in '+new Date(i.date).toDateString()
              td=i.status