h1 Create user
a(href="/users/") view user
form(action="/users/create",method = "POST")
  lable Name
  input(name="name",type ="text",value="name")
  br
  lable Phone
  input(name="phone",type ="number",value="123123")
  button Create