h1 Create user
a(href="/users/") view user
form.add-user-form(action="/users/create",method = "POST")
  lable Name
  input(name='name',type ='text')
  br
  lable Phone
  input(name='phone',type ='number')
  button Create