extends ../layouts/common.pug
block content
    div.container2
      h1 View user
      p
        br
        b Name: 
        span &nbsp; 
        span= user.name
        br
        b Phone: 
        span &nbsp; 
        span= user.phone
        br
        b Email: 
        span &nbsp; 
        span= user.email