extends ../layouts/common.pug
block content
    div.container2
      h1 View product
      p 
        b Name: 
        span &nbsp; 
        span= product.name
        br
        b Phone: 
        span &nbsp; 
        span= product.phone
        br
        b Email: 
        span &nbsp; 
        span= product.email